*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'fnaf';
    src: url(../FONT/FiveFontsatFreddys-Regular.ttf) format('Truetype');
    font-weight: normal;
    font-style: normal;
}
.tela-inicial {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titulo {
    font-family: 'fnaf';
    font-size: 120px;
    color: #fff;
    margin-bottom: 40px;
}
#font{
    font-family: 'fnaf';
    font-size: 50px;
    color: #fff;
    margin-bottom: 40px;
}
body{
    background-image: url(/IMG/bg.jpg);
    background-size: cover;
}
html{
    cursor: url("/IMG/PG.gif") 50 50, auto;
}
.urso1{
    width: 70px;
    height: 70px;
}
.urso2{
    width: 90px;
    height: 90px;
}
.urso3{
    width: 110px;
    height: 110px;
}

.ladoA{
    transform: scaleX(1);
}
.ladoB{
    transform: scaleX(-1);
}
.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0px;
    border-top: solid #fff;
    background-color: #fff;
    opacity: 0.7;
}
.vidas{
    float: left;
}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
#v1{
    bottom: 5px;
    width: 50px;
    height: 50px;
}
#v2{
    bottom: 5px;
    width: 50px;
    height: 50px;
}
#v3{
    bottom: 5px;
    width: 50px;
    height: 50px;
}
.pontos {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }
  